<!doctype html>
<html ng-app="myApp">
	<head>
		<title>Simple App</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="app.js" > </script>
		<link rel="stylesheet" href="style.css">
	</head>
	<body ng-controller="MyController">

<div class="container">
	<div class="row">
        <div class="col-md-6 col-sm-offset-1">
    		<h2>RCS Phonebook</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" ng-model="query" class="form-control input-lg" placeholder="Search for Staff" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
     
                </div>
            </div>

                          By:<select ng-model="orderStaff" class="selectpicker">
	                    <option value="forename">First Name</option>
	                    <option value="surname">Surname</option>
	                    <option value="jobtitle">Job Title</option>
                    </select>
                    <label class="formgroup">
                    	<input type="radio" name="direction" ng-model="direction" checked>ascending
                    </label>
                       <label class="formgroup">
                    	<input type="radio" name="direction" ng-model="direction" value="reverse">descending
                    </label>
        </div>
	</div>
</div>
<div class="row">
 <div class="col-md-6 col-sm-offset-1">
<ul class="staffs">
  		<li class="panel panel-default" ng-repeat="x in staffs |filter:query | orderBy: orderStaff:direction">
  <div class="panel-heading">
    <h3 class="panel-title">{{x.title}} {{ x.forename }} {{x.surname}}</h3>
  </div>
  <div class="panel-body">
  	{{x.jobtitle}} <br/>
    {{x.location}} <br/>
    Extension: {{x.extension}} <br/>
    Status: {{x.status}} <br/>
    Email : <a href="mailto:{{x.login_name}}@rcseng.ac.uk">{{x.login_name}}@rcseng.ac.uk</a>
  </div>
</li>

</ul>
</div>
</div>

	</body>
</html>
